$myFontRegular: "Noto Sans", sans-serif;
$myFontBold: "WiloPlusGlobalBold";
$myFontItalic: "WiloPlusGlobalItalic";
$myFontBoldItalic: "WiloPlusGlobalBoldItalic";
$colorWhite: #fff;
$colorGreen: #169e88;
$colorBlack: #000;
$colorYellow: #ffb400;
$myFontSize: 20px;
$myWidth: 1590px;
